* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", Arial, Helvetica, sans-serif;
  background-color: rgb(255, 240, 240);
  color: rgb(70, 70, 70);
  line-height: 1.6;
}
.container {
  /* border: 1px solid rgb(4, 0, 255);
  padding: 15px;
  margin: 15px; */
}
/* ========================================
                Header Section
============================================*/
.site-header {
  /* border: 1px solid red;
  padding: 15px;
  margin: 15px; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(110deg, rgb(255, 0, 0), rgb(255, 238, 0));
  padding: 8px 20px;
}
.brand {
  /* border: 1px solid rgb(0, 255, 98);
  padding: 15px;
  margin: 15px; */

  display: flex;
  align-items: center;
  gap: 20px;

  color: white;
}
.brand-logo {
  background-color: rgb(255, 60, 0);
  border-radius: 50px;

  font-size: 30px;

  width: 55px;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-text p {
  font-size: 14px;
  opacity: 0.8;
}
.brand-text h2 {
  font-size: 24px;
}
/* Navbar */
.main-nav {
  /* border: 1px solid rgb(0, 255, 98);
  padding: 15px;
  margin: 15px; */
}
.nav-list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav-list a {
  color: rgb(105, 22, 22);
  text-decoration: none;

  padding: 8px 15px;
  border-radius: 8px;

  transition: 0.9s;
}
.nav-list a:hover {
  background-color: rgba(217, 220, 223, 0.788);
}
/* ========================================
                Main Section
============================================*/
.main-layout {
  /* border: 1px solid rgb(241, 33, 33);
  padding: 15px;
  margin: 15px; */

  display: grid;
  grid-template-columns: 1fr 400px;
  /* grid-template-columns: 80% 20%; */

  padding: 20px 22px;
}

/* left content */
.left-content {
  /* border: 1px solid rgb(76, 0, 255);
  padding: 15px;
  margin: 15px; */
}
.hero {
  /* border: 1px solid rgb(21, 255, 0);
  padding: 15px;
  margin: 15px; */

  display: grid;
  grid-template-columns: 1.5fr 0.8fr;

  padding: 26px 36px;

  background: linear-gradient(
    110deg,
    rgb(239, 241, 234),
    rgba(255, 238, 0, 0.808)
  );
  border-radius: 15px;
  box-shadow: 0px 4px 5px #00000067;

  align-items: center;
}

.hero-text h1 {
  font-size: 36px;
  color: rgb(112, 112, 112);
  line-height: 1.8;
}

.hero-text p {
  font-size: 22px;
  color: rgb(112, 112, 112);
  font-weight: 600;
}

.hero-photo img {
  width: 400px;
  height: 200px;
  border: 3px solid rgb(204, 253, 159);
  border-radius: 10px;

  box-shadow: 0px 4px 5px #00000067;

  object-fit: cover;
  /*
    object-fit: contain ➡️เห็นภาพครบ รักษาสัดส่วน (อาจมีขอบว่าง)
    object-fit: fill ➡️ยืดภาพให้เต็มกล่อง ภาพอาจบิด (สัดส่วนเพี้ยน)
    object-fit: cover ➡️ครอปภาพให้เต็มกล่อง รักษาสัดส่วน บางส่วนของภาพจะถูกตัดออก
    */
}

/* Link Example */

.card {
  border: 1px solid rgba(92, 92, 92, 0.377);
  border-radius: 15px;
  background-color: white;
  
  padding: 26px 36px;
  border-radius: 15px;
  box-shadow: 0px 4px 5px #00000067;

  margin-top: 20px;
}

.card-header-title{
  /* background-color: aquamarine; */
}
.card-header-title h2{
  color: rgb(112, 112, 112);
}
.card-body-grid{
    display: grid;
    grid-template-columns: 0.75fr 1.25fr ;
    gap: 20px;
}

/* กล่อง Link ด้านซ้าย */
.result-panel, .code-panel{
    border: 1px solid rgba(92, 92, 92, 0.377);
    border-radius: 10px;

    overflow: hidden;
}

.result-panel-header, .code-panel-header{
  background-color: rgb(255, 238, 0, 0.808);
  color: rgb(112, 112, 112);
  font-weight: bold;

  padding: 0px 20px;
}


.result-panel-body{
  line-height: 2;
  padding: 5px 20px 10px 20px;

}
.result-panel-body a {
  display: block;

  color: blue;
}
.result-panel-body a:hover {
color: red;
}

.back-btn {
  border: 2px solid blue;
  border-radius: 10px;

  display: inline-block !important;
  padding: 0 20px;

  text-decoration: none;
}
.result-panel-mail{
  background-color: rgb(21, 4, 255);
  border-radius: 4px;
  margin: 10px;
}




/* กล่อง link ด้านขวา */
.code-panel{
 background-color: black;
}


.code-panel-body{
 color: white; 
}

.code-list{
  padding: 10px 40px;
}

.code-list li{
  padding: 0px 20px;
}

.tag {
  color: red;
}

.value {
  color: green;
}

.attr {
  color: greenyellow;
}


/* image example */
.result-panel-body-3g{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  padding: 0px 20px;
align-items: baseline;
text-align: center;
}


/* right content */
.right-sidebar {
  border: 1px solid rgb(21, 255, 0);
  padding: 0px 0px 0px 10px;
  /* margin: 15px; */
}
.side-card{
  border: 1px solid rgba(92, 92, 92,  0.377);
  background-color: white;
  padding:  20px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 5px #00000067;
 
}
.side-card-header, .side-card-tag-header {
  font-size: 20px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.side-card-body{
  color: aliceblue;
}

.side-card-activity-list{
  list-style: none;
  color: rgb(5, 5, 5);
  padding: 10px 20px;
}

.side-number{
  color: rgb(168, 165, 165);
  font-weight: bold;
  font-size: 20px;
  background-color:yellow ;

  border: 1px;
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
}


/* card2 */
.side-card-tag {
  border: 1px solid rgba(92, 92, 92,  0.377);
  background-color: white;
  padding:  5px 10px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0px 4px 5px #00000067;
}
.side-card-tag-body{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  text-align: center;
  padding: 20px;
}

.side-card-tag-text{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 10px 20px;
  align-items: baseline;
  text-align: center;
  border: 10px;
  margin: 6px 4px;
  border-radius: 20px;
}

.tag-green{
  background-color: rgba(0, 255, 0, 0.178);
  color: rgb(2, 190, 2);
  
}
.tag-yel{
  background-color: rgba(255, 197, 5, 0.178);
  color: rgb(163, 125, 0);
}
.tag-blue{
  background-color: rgba(55, 0, 252, 0.24);
  color: rgba(55, 0, 252, 0.555);
}
.tag-reds{
  background-color: rgba(229, 255, 0, 0.219);
  color: rgba(168, 187, 0, 0.986);
}
.tag-pink{
  background-color: rgba(255, 0, 242, 0.404);
  color: rgba(153, 0, 145, 0.404);
}
.tag-violet{
  color: rgba(124, 0, 58, 0.459);
  background-color: rgba(255, 0, 119, 0.459);
}
.tag-brown{
  color: rgba(141, 68, 0, 0.555);
  background-color: rgba(252, 122, 0, 0.555);
}
.tag-red{
  color: rgba(189, 0, 0, 0.603);
  background-color: rgba(255, 0, 0, 0.452);
}


.submit-card {
}

/* ========================================
                Footer Section
============================================*/
.tip-box {
  border: 1px solid red;
  padding: 15px;
  margin: 15px;
}
