* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    'Kanit',
    Arial,
    Helvetica,
    sans-serif;
  background-color: rgb(255, 240, 240);
  color: rgb(70, 70, 70);
  line-height: 1.6;
}
.container {
  /* border: 1px solid rgb(4, 0, 255);
  padding: 15px;
  margin: 15px; */
}
/* ========================================
                Header Section
============================================*/
.site-header {
  /* border: 1px solid red;
  padding: 15px;
  margin: 15px; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(110deg, rgb(255, 0, 0), rgb(255, 238, 0));
  padding: 8px 20px;
}
.brand {
  /* border: 1px solid rgb(0, 255, 98);
  padding: 15px;
  margin: 15px; */

  display: flex;
  align-items: center;
  gap: 20px;

  color: white;
}
.brand-logo {
  background-color: rgb(255, 60, 0);
  border-radius: 50px;

  font-size: 30px;

  width: 55px;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-text p {
  font-size: 14px;
  opacity: 0.8;
}
.brand-text h2 {
  font-size: 24px;
}
/* Navbar */
.main-nav {
  /* border: 1px solid rgb(0, 255, 98);
  padding: 15px;
  margin: 15px; */
}
.nav-list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav-list a {
  color: rgb(105, 22, 22);
  text-decoration: none;

  padding: 8px 15px;
  border-radius: 8px;

  transition: 0.9s;
}
.nav-list a:hover {
  background-color: rgba(217, 220, 223, 0.788);
}
/* ========================================
                Main Section
============================================*/
.main-layout {
  /* border: 1px solid rgb(241, 33, 33);
  padding: 15px;
  margin: 15px; */

  display: grid;
  grid-template-columns: 1fr 390px;
  /* grid-template-columns: 80% 20%; */
  
  padding: 20px 22px;
}


/* left content */
.left-content {
  /* border: 1px solid rgb(76, 0, 255);
  padding: 15px;
  margin: 15px; */
}
.hero {
  /* border: 1px solid rgb(21, 255, 0);
  padding: 15px;
  margin: 15px; */

  display: grid;
  grid-template-columns: 1.5fr 0.8fr;

  padding: 26px 36px;

  background: linear-gradient(110deg, rgb(239, 241, 234), rgba(255, 238, 0, 0.808));
  border-radius: 15px;
  box-shadow: 0px 4px 5px #00000067;

  align-items: center;
}

.hero-text h1 {
font-size: 36px;
color: rgb(112, 112, 112);
line-height: 1.8;
}

.hero-text p {
font-size: 22px;
color: rgb(112, 112, 112);
font-weight: 600;
}

.hero-photo img {
    width: 400px;
    height: 200px;
    border: 3px solid rgb(204, 253, 159);
    border-radius: 10px;

    box-shadow: 0px 4px 5px #00000067;

    object-fit: cover;
        /*
    object-fit: contain ➡️เห็นภาพครบ รักษาสัดส่วน (อาจมีขอบว่าง)
    object-fit: fill ➡️ยืดภาพให้เต็มกล่อง ภาพอาจบิด (สัดส่วนเพี้ยน)
    object-fit: cover ➡️ครอปภาพให้เต็มกล่อง รักษาสัดส่วน บางส่วนของภาพจะถูกตัดออก
    */
}

.card {
  border: 1px solid rgb(21, 255, 0);
  padding: 15px;
  margin: 15px;
}

/* right content */
.right-sidebar {
  border: 1px solid rgb(21, 255, 0);
  padding: 15px;
  margin: 15px;
}
.side-card {}

.submit-card {}


/* ========================================
                Footer Section
============================================*/
.tip-box {
  border: 1px solid red;
  padding: 15px;
  margin: 15px;
}
